<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/web/bundles/slimblog/css/style.css">
    </head>
    <body>

    <header>
        <h1>SlimBlog</h1>
    </header>

    <section>
        <h1>My SlimBlog</h1>
        <p>
            Testing
        </p>
        <p>
            Testing!!
        </p>
    </section>

    <footer>
        Copyright Me
    </footer>

    </body>
</html>
