{% extends "layout.html.twig" %}

{% block content %}
    <hr>

    <div class="row">
        <div class="col-lg-8 col-sm-8">
            <h2>What We Do</h2>
            <p>Testing Blog.</p>
        </div>
        <div class="col-lg-4 col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>SlimBlog Test.</strong>
                <br>123 Fake Street, Suite #60
                <br>New York, NY 12345
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(123) 456-7890
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">support@me.com</a>
            </address>
        </div>
    </div>

{% endblock %}