#container {
    width:600px;
    margin:0 auto;
    overflow:auto;
}
#header {
    height:90px;
}
#footer {
    height:40px;
}
#navbar {
    overflow:auto;
}
#navbar ul {
    list-style:none;
    height:30px;
    padding:0px;
    margin:0px;
}
#navbar ul li {
    float:left;
    margin:10px;
}
